.cabeçudo{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    color: #107300;
}
.imagemretangulo {
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-right: 120px;
}
.MERCEARIA{
    color: #DC7516
}
.AÇOUGUE{ 
    color: #F119F5;
}
.HIGIENEPESSOAL{
color: #E73434;
}
.FEIRA{ 
    color: #becd12;
}
.PRODUTOSDELIMPEZA{
    color: #233dff;
}
